@font-face {
  font-family: lazada;
  src: url(https://laz-g-cdn.alicdn.com/lzdfe/iconfont/0.2.10/font_451018_fwipxz1e5p.eot);
  src: url(https://laz-g-cdn.alicdn.com/lzdfe/iconfont/0.2.10/font_451018_fwipxz1e5p.eot) format("embedded-opentype"),url(https://laz-g-cdn.alicdn.com/lzdfe/iconfont/0.2.10/font_451018_fwipxz1e5p.ttf) format("truetype")
}

.lazada {
  font-family: lazada!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


.lazada {
  font-family: lazada !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.lazada-download:before {
  content: ""
}

.lazada-exclamation:before {
  content: ""
}

.lazada-arrowdown-copy:before {
  content: ""
}

.lazada-thumbup:before {
  content: ""
}

.lazada-ic-time:before {
  content: ""
}

.lazada-facebook:before {
  content: ""
}

.lazada-Share:before {
  content: ""
}

.lazada-xiala:before {
  content: ""
}

.lazada-soph_location:before {
  content: ""
}

.lazada-view:before {
  content: ""
}

.lazada-ic-Zoom:before {
  content: ""
}

.lazada-ic-CartNumber:before {
  content: ""
}

.lazada-ic-Categories:before {
  content: ""
}

.lazada-ic-cat-TV:before {
  content: ""
}

.lazada-ic-Help:before {
  content: ""
}

.lazada-ic-Home:before {
  content: ""
}

.lazada-ic-Flashsale:before {
  content: ""
}

.lazada-ic-loc:before {
  content: ""
}

.lazada-ic-MyWishlist:before {
  content: ""
}

.lazada-ic-Noti:before {
  content: ""
}

.lazada-ic-logOut:before {
  content: ""
}

.lazada-ic-Notifications:before {
  content: ""
}

.lazada-ic-Setting:before {
  content: ""
}

.lazada-ic-Policies:before {
  content: ""
}

.lazada-ic-Tooltip:before {
  content: ""
}

.lazada-ic-Order:before {
  content: ""
}

.lazada-ic-Smile:before {
  content: ""
}

.lazada-ic-Store:before {
  content: ""
}

.lazada-ic-Android-Back1:before {
  content: ""
}

.lazada-ic-Check1:before {
  content: ""
}

.lazada-ic-Close1:before {
  content: ""
}

.lazada-ic-Filter1:before {
  content: ""
}

.lazada-ic-Kebab1:before {
  content: ""
}

.lazada-ic-GridView1:before {
  content: ""
}

.lazada-ic-ListView:before {
  content: ""
}

.lazada-ic-Shape1:before {
  content: ""
}

.lazada-ic-Search1:before {
  content: ""
}

.lazada-ic-Lazada:before {
  content: ""
}

.lazada-ic-lazada-404:before {
  content: ""
}

.lazada-ic-IOS-Back:before {
  content: ""
}

.lazada-ic-Badge-New:before {
  content: ""
}

.lazada-ic-Badge-Express:before {
  content: ""
}

.lazada-ic-Delete:before {
  content: ""
}

.lazada-ic-Star:before {
  content: ""
}

.lazada-ic-Arrow-Up:before {
  content: ""
}

.lazada-ic-Arrow-Down:before {
  content: ""
}

.lazada-ic-loding:before {
  content: ""
}

.lazada-ic-Language-Indo:before {
  content: ""
}

.lazada-ic-Language-Philip:before {
  content: ""
}

.lazada-ic-Language-Thai:before {
  content: ""
}

.lazada-ic-Language-Viet:before {
  content: ""
}

.lazada-ic-Language-malay:before {
  content: ""
}

.lazada-ic-Language-SG:before {
  content: ""
}

.lazada-pw_hide:before {
  content: ""
}

.lazada-pw_hide1:before {
  content: ""
}

.lazada-pw_show:before {
  content: ""
}

.lazada-pw_showwhite:before {
  content: ""
}

.lazada-googlePlus_icon:before {
  content: ""
}

.lazada-facebook_icon:before {
  content: ""
}

.lazada-FulfilledbyLazada:before {
  content: ""
}

.lazada-LiveUp:before {
  content: ""
}

.lazada-ic-IOS-Next-copy:before {
  content: ""
}

.lazada-lzd_logo:before {
  content: ""
}

.lazada-lzd_logo_white-co-id:before {
  content: ""
}

.lazada-lzd_logo_white-com-p:before {
  content: ""
}

.lazada-lzd_logo_white-com-m:before {
  content: ""
}

.lazada-lzd_logo_white-vn:before {
  content: ""
}

.lazada-lzd_logo_white-co-th:before {
  content: ""
}

.lazada-lzd_logo_white-sg:before {
  content: ""
}

.lazada-lzd_logo-co-id:before {
  content: ""
}

.lazada-lzd_logo-sg:before {
  content: ""
}

.lazada-lzd_logo-co-th:before {
  content: ""
}

.lazada-lzd_logo-com-ph:before {
  content: ""
}

.lazada-lzd_logo-vn:before {
  content: ""
}

.lazada-lzd_logo-com-my:before {
  content: ""
}

.lazada-ic-MostPopular:before {
  content: ""
}

.lazada-ic-JustforYou:before {
  content: ""
}

.lazada-ic-Taobao:before {
  content: ""
}

.lazada-ic-Arrowleft:before {
  content: ""
}

.lazada-edit:before {
  content: ""
}

.lazada-shipping:before {
  content: ""
}

.lazada-billing:before {
  content: ""
}

.lazada-ic-Tags:before {
  content: ""
}

.lazada-ic-AddtoCart:before {
  content: ""
}

.lazada-ic-day:before {
  content: ""
}

.lazada-ic-days:before {
  content: ""
}

.lazada-ic-A:before {
  content: ""
}

.lazada-ic-discount:before {
  content: ""
}

.lazada-ic-Checked:before {
  content: ""
}

.lazada-ic-Economy:before {
  content: ""
}

.lazada-ic-gift:before {
  content: ""
}

.lazada-ic-Express:before {
  content: ""
}

.lazada-ic-great:before {
  content: ""
}

.lazada-ic-Express-id:before {
  content: ""
}

.lazada-ic-noshipping:before {
  content: ""
}

.lazada-ic-nowarranty:before {
  content: ""
}

.lazada-ic-Q:before {
  content: ""
}

.lazada-ic-oversea:before {
  content: ""
}

.lazada-ic-Shape:before {
  content: ""
}

.lazada-ic-shipping:before {
  content: ""
}

.lazada-ic-days1:before {
  content: ""
}

.lazada-ic-warranty:before {
  content: ""
}

.lazada-ic-VerifiedPurchase:before {
  content: ""
}

.lazada-ic-Standard:before {
  content: ""
}

.lazada-wishlist:before {
  content: ""
}

.lazada-ic-addBtn:before {
  content: ""
}

.lazada-ic-reduceBtn:before {
  content: ""
}

.lazada-ic-addBtn1:before {
  content: ""
}

.lazada-ic-reduceBtn1:before {
  content: ""
}

.lazada-ic_logout:before {
  content: ""
}

.lazada-is-sort:before {
  content: ""
}

.lazada-noReview:before {
  content: ""
}

.lazada-ic-send:before {
  content: ""
}

.lazada-ic-dropdown:before {
  content: ""
}

.lazada-ic-Refresh:before {
  content: ""
}

.lazada-ic-reviews-5:before {
  content: ""
}

.lazada-ic-reviews-1:before {
  content: ""
}

.lazada-ic-reviews-2:before {
  content: ""
}

.lazada-ic-reviews-3:before {
  content: ""
}

.lazada-ic-reviews-4:before {
  content: ""
}

.lazada-ic-reviews-6:before {
  content: ""
}

.lazada-Progressbar-Disable:before {
  content: ""
}

.lazada-Progressbar-Normal:before {
  content: ""
}

.lazada-Progressbar-Success:before {
  content: ""
}

.lazada-Email:before {
  content: ""
}

.lazada-OL:before {
  content: ""
}

.lazada-Bank:before {
  content: ""
}

.lazada-Cash:before {
  content: ""
}

.lazada-CC:before {
  content: ""
}

.lazada-ATM:before {
  content: ""
}

.lazada-Installment:before {
  content: ""
}

.lazada-Store:before {
  content: ""
}

.lazada-Wallet:before {
  content: ""
}

.lazada-OTC:before {
  content: ""
}

.lazada-ic-Arrow-comfirm:before {
  content: ""
}

.lazada-ic-ac-wallet:before {
  content: ""
}

.lazada-ic-ac-policy:before {
  content: ""
}

.lazada-ic-ac-review:before {
  content: ""
}

.lazada-ic-ac-payment:before {
  content: ""
}

.lazada-ic-ac-rebate:before {
  content: ""
}

.lazada-ic-ac-member:before {
  content: ""
}

.lazada-ic-channel-Expressa:before {
  content: ""
}

.lazada-ic-channel-Dealsa:before {
  content: ""
}

.lazada-ic-channel-MobileTop1:before {
  content: ""
}

.lazada-ic-channel-SuperMart:before {
  content: ""
}

.lazada-ic-channel-Vouchers:before {
  content: ""
}

.lazada-ic-channel-OfficialS:before {
  content: ""
}

.lazada-ic-channel-TaobaoCol:before {
  content: ""
}

.lazada-ic-Category:before {
  content: ""
}

.lazada-ic-Category-copy:before {
  content: ""
}

.lazada-clock_fill:before {
  content: ""
}

.lazada-English:before {
  content: ""
}

.lazada-ic-closebtn:before {
  content: ""
}

.lazada-ic-CheckboxOn:before {
  content: ""
}

.lazada-ic-CheckboxOff:before {
  content: ""
}

.lazada-ic-SizeChart:before {
  content: ""
}

.lazada-Koleksi_Taobao_Logo:before {
  content: ""
}

.lazada-Taobao_Collection_Lo:before {
  content: ""
}

.lazada-ic-Badge-Taobao:before {
  content: ""
}

.lazada-ic-Badge-OfficialSt:before {
  content: ""
}

.lazada-addicon:before {
  content: ""
}

.lazada-reduceicon:before {
  content: ""
}

.lazada-ic-cat-ElectronicAcc:before {
  content: ""
}

.lazada-ic-cat-ConsumerAppli:before {
  content: ""
}

.lazada-ic-cat-FashionAccess:before {
  content: ""
}

.lazada-ic-cat-ElectronicDev:before {
  content: ""
}

.lazada-ic-cat-GroceriesPet:before {
  content: ""
}

.lazada-ic-cat-BabiesToys:before {
  content: ""
}

.lazada-ic-cat-HealthBeauty:before {
  content: ""
}

.lazada-ic-cat-HomeLifestyl:before {
  content: ""
}

.lazada-ic-cat-Motors:before {
  content: ""
}

.lazada-ic-cat-MensFashion:before {
  content: ""
}

.lazada-ic-cat-WomensFashio:before {
  content: ""
}

.lazada-ic-cat-SportsOutdoo:before {
  content: ""
}

.lazada-ic-Arrowcircle:before {
  content: ""
}

.lazada-ic-verifi-mail:before {
  content: ""
}

.lazada-ic-verifi-sms:before {
  content: ""
}

.lazada-ic-verifi-sms-copy:before {
  content: ""
}

.lazada-ic-Arrowcircle-copy:before {
  content: ""
}

.lazada-logo-redmart:before {
  content: ""
}

.lazada-logo-netflix:before {
  content: ""
}

.lazada-logo-uber:before {
  content: ""
}

.lazada-ic-badgetriFlag:before {
  content: ""
}

.lazada-ic-badgetriFlag1:before {
  content: ""
}

.lazada-ic-badgetriFlag2:before {
  content: ""
}

.lazada-uberEATS:before {
  content: ""
}

.lazada-trianle-pop:before {
  content: ""
}

.lazada-ic-TOP:before {
  content: ""
}

.lazada-ic-Failedtoload:before {
  content: ""
}

.lazada-ic-Noresult:before {
  content: ""
}

.lazada-ic-Star-half:before {
  content: ""
}

.lazada-ic-Star-full:before {
  content: ""
}

.lazada-ic-category-fill:before {
  content: ""
}

.lazada-ic-category:before {
  content: ""
}

.lazada-pc-dropdown:before {
  content: ""
}

.lazada-ic-Star10-12:before {
  content: ""
}

.lazada-ic-Star11-12:before {
  content: ""
}

.lazada-ic-step:before {
  content: ""
}

.lazada-ic-step1:before {
  content: ""
}

.lazada-ic-step2:before {
  content: ""
}

.lazada-ic-Star01:before {
  content: ""
}

.lazada-ic-Star06:before {
  content: ""
}

.lazada-ic-Star02:before {
  content: ""
}

.lazada-ic-Star04:before {
  content: ""
}

.lazada-ic-Star05:before {
  content: ""
}

.lazada-ic-Star03:before {
  content: ""
}

.lazada-ic-Star10:before {
  content: ""
}

.lazada-ic-Star08:before {
  content: ""
}

.lazada-ic-Star07:before {
  content: ""
}

.lazada-ic-Star00:before {
  content: ""
}

.lazada-ic-Star1:before {
  content: ""
}

.lazada-OTCMobileBanking:before {
  content: ""
}

.lazada-OTCSMSBanking:before {
  content: ""
}

.lazada-ic-share-Facebook:before {
  content: ""
}

.lazada-ic-share-Google:before {
  content: ""
}

.lazada-ic-share-Twitter:before {
  content: ""
}

.lazada-ic-share-Pinterest:before {
  content: ""
}

.lazada-ic-share-Tumblr:before {
  content: ""
}

.lazada-ic-PriceRange:before {
  content: ""
}

.lazada-ic-MyWishlist-fill:before {
  content: ""
}

.lazada-ic-alert:before {
  content: ""
}

.lazada-ic_video_thumbnail:before {
  content: ""
}

.lazada-ic-Prompt:before {
  content: ""
}

.lazada-ic-Success:before {
  content: ""
}

.lazada-ic-Error:before {
  content: ""
}

.lazada-Success:before {
  content: ""
}

.lazada-Waiting:before {
  content: ""
}

.lazada-Warning:before {
  content: ""
}

.lazada-icon-nav-return:before {
  content: ""
}

.lazada-icon-nav-cancelation:before {
  content: ""
}

.lazada-ic-no-reviews:before {
  content: ""
}

.lazada-ic-complete-reviews:before {
  content: ""
}

.lazada-arrow-down-double:before {
  content: ""
}

.lazada-ic-cat-fashion:before {
  content: ""
}

.lazada-ic-cat-cameras:before {
  content: ""
}

.lazada-ic-cat-consumerE:before {
  content: ""
}

.lazada-Desktop_ic-cat-mobil:before {
  content: ""
}

.lazada-ic-Kebab1-IOS:before {
  content: ""
}

.lazada-ic-Email:before {
  content: ""
}

.lazada-ic-package:before {
  content: ""
}

.lazada-icon-nav-return1:before {
  content: ""
}

.lazada-ic-heart-wishlist:before {
  content: ""
}

.lazada-ic-help:before {
  content: ""
}

.lazada-ic-order:before {
  content: ""
}

.lazada-ic-settings:before {
  content: ""
}

.lazada-ic-logout:before {
  content: ""
}

.lazada-ic-location-pin:before {
  content: ""
}

.lazada-ic-policies:before {
  content: ""
}

.lazada-ic-IM:before {
  content: ""
}

.lazada-ic-installation:before {
  content: ""
}

.lazada-ic-arrow-up-green:before {
  content: ""
}

.lazada-ic-arrow-down-grey:before {
  content: ""
}

.lazada-ic-cancellation:before {
  content: ""
}

.lazada-ic-gift1:before {
  content: ""
}

.lazada-ic-SMS:before {
  content: ""
}

.lazada-ic-Prompt-android:before {
  content: ""
}

.lazada-norton:before {
  content: ""
}

.lazada-pci:before {
  content: ""
}

.lazada-visa-topup:before {
  content: ""
}

.lazada-mastercard-securecod:before {
  content: ""
}

.lazada-ic-remove-AND-2:before {
  content: ""
}

.lazada-uber-liveup:before {
  content: ""
}

.lazada-ic-infoNotes:before {
  content: ""
}

.lazada-ic-quantity-small:before {
  content: ""
}

.lazada-ic-Arrow:before {
  content: ""
}

.lazada-ic-Checked-weex:before {
  content: ""
}

.lazada-ic-Email1:before {
  content: ""
}

.lazada-icon-IM-Plus:before {
  content: ""
}

.lazada-ic-user-default:before {
  content: ""
}

.lazada-ic-store-default:before {
  content: ""
}

.lazada-ic-IM-Camera:before {
  content: ""
}

.lazada-ic-IM-Orders:before {
  content: ""
}

.lazada-ic-IM-Photos:before {
  content: ""
}

.lazada-ic-IM-Products:before {
  content: ""
}

.lazada-ic-IM-errorimg:before {
  content: ""
}

.lazada-ic-dropdown-arrow:before {
  content: ""
}

.lazada-contact:before {
  content: ""
}

.lazada-ic-Prompt-no-delivery:before {
  content: ""
}

.lazada-ic_check:before {
  content: ""
}

.lazada-ic-option-check:before {
  content: ""
}

.lazada-certified:before {
  content: ""
}

.lazada-ic-soldby-LAZ:before {
  content: ""
}

.lazada-ic_gojek:before {
  content: ""
}

.lazada-ic_certified_text:before {
  content: ""
}

.lazada-ic_sold-by-LAZ-text:before {
  content: ""
}

.lazada-ic_sold-by-LAZ-text1:before {
  content: ""
}

.lazada-ic_store_icon:before {
  content: ""
}

.lazada-ic_video:before {
  content: ""
}

.lazada-map-location-spinner:before {
  content: ""
}

.lazada-AirAsiaBIGLoyalty:before {
  content: ""
}

.lazada-BInfiniteLogoOLF:before {
  content: ""
}

.lazada-arrow-down:before {
  content: ""
}

.lazada-arrow-up:before {
  content: ""
}

.lazada-size_size:before {
  content: ""
}

.lazada-size_size1:before {
  content: ""
}

.lazada-size_size2:before {
  content: ""
}

.lazada-size_size3:before {
  content: ""
}

.lazada-size_size4:before {
  content: ""
}

.lazada-BeddingBath:before {
  content: ""
}

.lazada-ConsumerAppliances:before {
  content: ""
}

.lazada-DigitalGoods:before {
  content: ""
}

.lazada-BagsTravel:before {
  content: ""
}

.lazada-HealthBeauty:before {
  content: ""
}

.lazada-GroceriesPets:before {
  content: ""
}

.lazada-HomeLifestyle:before {
  content: ""
}

.lazada-KitchenDining:before {
  content: ""
}

.lazada-MensFashion:before {
  content: ""
}

.lazada-LaundryCleaning:before {
  content: ""
}

.lazada-MotherBaby:before {
  content: ""
}

.lazada-MusicMediaBooks:before {
  content: ""
}

.lazada-PetSupplies:before {
  content: ""
}

.lazada-Motors:before {
  content: ""
}

.lazada-SportsOutdoor:before {
  content: ""
}

.lazada-StationeryCraft:before {
  content: ""
}

.lazada-TVAudioVideoGamin:before {
  content: ""
}

.lazada-ic-Star09:before {
  content: ""
}

.lazada-sis-profile-:before {
  content: ""
}

.lazada-sis-profile-1:before {
  content: ""
}

.lazada-sis-profile-2:before {
  content: ""
}

.lazada-sis-profile-3:before {
  content: ""
}

.lazada-sis-profile-4:before {
  content: ""
}

.lazada-sis-profile-5:before {
  content: ""
}

.lazada-sis-profile-6:before {
  content: ""
}

.lazada-sis-profile-7:before {
  content: ""
}

.lazada-Back-to-top:before {
  content: ""
}

.lazada-EYE:before {
  content: ""
}

.lazada-ic-facebook:before {
  content: ""
}

.lazada-ic-google:before {
  content: ""
}

.lazada-ic-facebook-:before {
  content: ""
}

.lazada-ic-google-:before {
  content: ""
}

.lazada-motherbaby:before {
  content: ""
}

.lazada-tvhome:before {
  content: ""
}

.lazada-fashion-:before {
  content: ""
}

.lazada-petsupplies:before {
  content: ""
}

.lazada-SIS-empty:before {
  content: ""
}

.lazada-sis-tray-1:before {
  content: ""
}

.lazada-sis-tray-2:before {
  content: ""
}

.lazada-sis-tray-3:before {
  content: ""
}

.lazada-ic_close:before {
  content: ""
}

.lazada-ic_SMS_delivery:before {
  content: ""
}

.lazada-ic_SBM_delivery:before {
  content: ""
}

.lazada-ic_SBM_delivery_s:before {
  content: ""
}

.lazada-ic_express_greenfill:before {
  content: ""
}

.lazada-sis:before {
  content: ""
}

.lazada-ic-IM-Send:before {
  content: ""
}

.lazada-messages-icon:before {
  content: ""
}

.lazada-icon-chat:before {
  content: ""
}

.lazada-question-icon:before {
  content: ""
}

.lazada-ic-smailes:before {
  content: ""
}

.lazada-icon-send:before {
  content: ""
}

.lazada-scan-icon1:before {
  content: ""
}

.lazada-iconchatcopy:before {
  content: ""
}

.lazada-ic-sis-explore:before {
  content: ""
}

.lazada-ic-Citi:before {
  content: ""
}

.lazada-sis-tray-2-copy:before {
  content: ""
}

.lazada-express-delivery1:before {
  content: ""
}

.lazada-CombinedShape:before {
  content: ""
}

.lazada-edit-avatar:before {
  content: ""
}

.lazada-default-avatar:before {
  content: ""
}

.lazada-ic-StoreFollowed-:before {
  content: ""
}

.lazada-seller-location:before {
  content: ""
}

.lazada-ic-unselectedDisable:before {
  content: ""
}

.lazada-ic-disabledCheckbox:before {
  content: ""
}

.lazada-ic-grab:before {
  content: ""
}

.lazada-btn-radio:before {
  content: ""
}

.lazada-ic-alert1:before {
  content: ""
}

.lazada-btn-check:before {
  content: ""
}

.lazada-btn-arrow:before {
  content: ""
}

.lazada-ic-sucess:before {
  content: ""
}

.lazada-ic-pin:before {
  content: ""
}

.lazada-xiala1:before {
  content: ""
}

.lazada-btn-uncheck:before {
  content: ""
}

.lazada-ic-bell:before {
  content: ""
}

.lazada-guangbo:before {
  content: ""
}

.lazada-yujing:before {
  content: ""
}

.lazada-guanbi:before {
  content: ""
}

.lazada-remove-icon:before {
  content: ""
}

.lazada-youxiang:before {
  content: ""
}

.lazada-zhanghu:before {
  content: ""
}

.lazada-shouji:before {
  content: ""
}

.lazada-dun:before {
  content: ""
}

.lazada-suo:before {
  content: ""
}

.lazada-btn-edit:before {
  content: ""
}

.lazada-ic-pkg:before {
  content: ""
}

.lazada-btn-delele:before {
  content: ""
}

.lazada-btn-wishlist:before {
  content: ""
}

.lazada--shipping:before {
  content: ""
}

.lazada--packing:before {
  content: ""
}

.lazada--pickup:before {
  content: ""
}

.lazada--topay:before {
  content: ""
}

.lazada--received:before {
  content: ""
}

.lazada--sent:before {
  content: ""
}

.lazada-youhuiquan:before {
  content: ""
}

.lazada-gouwudefukuan:before {
  content: ""
}

.lazada-chongzhidaoqianbao:before {
  content: ""
}

.lazada-tuihuodetuikuan:before {
  content: ""
}

.lazada-tixian:before {
  content: ""
}

.lazada-PDP_video:before {
  content: ""
}

.lazada-PDP_nosound:before {
  content: ""
}

.lazada-PDP_largescreen:before {
  content: ""
}

.lazada-PDP_Sound:before {
  content: ""
}

.lazada-PDP_smallScreen:before {
  content: ""
}

.lazada-PDP_Pause:before {
  content: ""
}

.lazada-ic-phone:before {
  content: ""
}

.lazada-kuaidi:before {
  content: ""
}

.lazada-dayinji:before {
  content: ""
}

.lazada-tiaoxingma:before {
  content: ""
}

.lazada-ic-channel-LM-big:before {
  content: ""
}

.lazada-More:before {
  content: ""
}

.lazada-ic-channel-LM-:before {
  content: ""
}

.lazada-message-con-unselect:before {
  content: ""
}

.lazada-PDP_Video:before {
  content: ""
}

.lazada-ic_chat:before {
  content: ""
}

.lazada-ic_Store:before {
  content: ""
}

.lazada-delete-icon:before {
  content: ""
}

.lazada-ic_Share:before {
  content: ""
}

.lazada-__btn-check-unselect:before {
  content: ""
}

.lazada-dianpu:before {
  content: ""
}

.lazada-video:before {
  content: ""
}

.lazada-fullfilledbydaraz:before {
  content: ""
}

.lazada-UploadPhoto:before {
  content: ""
}

.lazada-gongnengtubiao-:before {
  content: ""
}

.lazada-gongnengtubiao-1:before {
  content: ""
}

.lazada-gongnengtubiao-2:before {
  content: ""
}

.lazada-bofang:before {
  content: ""
}

.lazada-liebiao:before {
  content: ""
}

.lazada-dianpujianjie:before {
  content: ""
}

.lazada-shixindianzan:before {
  content: ""
}

.lazada-shixinguankan:before {
  content: ""
}

.lazada-tansuo:before {
  content: ""
}

.lazada-taolun:before {
  content: ""
}

.lazada-xianxingdianzan:before {
  content: ""
}

.lazada-xianxingguankan:before {
  content: ""
}

.lazada-zhaopian:before {
  content: ""
}

.lazada-sousuo:before {
  content: ""
}

.lazada-DBSbank:before {
  content: ""
}

.lazada-Paypal:before {
  content: ""
}

.lazada-OCBCbank:before {
  content: ""
}

.lazada-dianpujianjie1:before {
  content: ""
}

.lazada-kulian:before {
  content: ""
}

.lazada-pinglian-:before {
  content: ""
}

.lazada-dianpujianjie11:before {
  content: ""
}

.lazada-xiaolian-:before {
  content: ""
}

.lazada-shoucang--:before {
  content: ""
}

.lazada-ruler:before {
  content: ""
}

.lazada-AddressEdit_PDP:before {
  content: ""
}

.lazada-gouwuche:before {
  content: ""
}

.lazada-camera-icon:before {
  content: ""
}

.lazada-followedstore:before {
  content: ""
}

.lazada-gongnengtubiao-3:before {
  content: ""
}

.lazada-gongnengtubiao-4:before {
  content: ""
}

.lazada-gongnengtubiao-5:before {
  content: ""
}

.lazada-gongnengtubiao-7:before {
  content: ""
}

.lazada-gongnengtubiao-8:before {
  content: ""
}

.lazada-gongnengtubiao-10:before {
  content: ""
}

.lazada-gongnengtubiao-11:before {
  content: ""
}

.lazada-gongnengtubiao-14:before {
  content: ""
}

.lazada-gongnengtubiao-16:before {
  content: ""
}

.lazada-gongnengtubiao-17:before {
  content: ""
}

.lazada-gongnengtubiao-18:before {
  content: ""
}

.lazada-gongnengtubiao-19:before {
  content: ""
}

.lazada-lost_by:before {
  content: ""
}

.lazada-cancelled:before {
  content: ""
}

.lazada-deliver_failed:before {
  content: ""
}

.lazada-delivered:before {
  content: ""
}

.lazada-ready_to:before {
  content: ""
}

.lazada-ready_to_1:before {
  content: ""
}

.lazada-shipped:before {
  content: ""
}

.lazada-transit_t:before {
  content: ""
}

.lazada-Email-new:before {
  content: ""
}

.lazada-ic-SMS-new:before {
  content: ""
}

.lazada-ic-Express-new:before {
  content: ""
}

.lazada-zhifuicon-2:before {
  content: ""
}

.lazada-zhifuicon-5:before {
  content: ""
}

.lazada-zhifuicon-9:before {
  content: ""
}

.lazada-zhifuicon-10:before {
  content: ""
}

.lazada-zhifuicon-11:before {
  content: ""
}

.lazada-jiaoyilianluicon-:before {
  content: ""
}

.lazada-jiaoyilianluicon-1:before {
  content: ""
}

.lazada-Daraz-grey:before {
  content: ""
}

.lazada-Shop-grey:before {
  content: ""
}

.lazada-street:before {
  content: ""
}

.lazada-cart:before {
  content: ""
}

.lazada-message:before {
  content: ""
}

.lazada-myaccout:before {
  content: ""
}

.lazada-home:before {
  content: ""
}

.lazada-add:before {
  content: ""
}

.lazada-addpromo:before {
  content: ""
}

.lazada-addproduct:before {
  content: ""
}

.lazada-Rorate:before {
  content: ""
}

.lazada-Settings:before {
  content: ""
}

.lazada-FIX:before {
  content: ""
}

.lazada-SendProduct:before {
  content: ""
}

.lazada-Go_btn:before {
  content: ""
}

.lazada-iconreload:before {
  content: ""
}

.lazada-toolpit:before {
  content: ""
}

.lazada-trash:before {
  content: ""
}

.lazada-edit1:before {
  content: ""
}

.lazada-icon-heart:before {
  content: ""
}

.lazada-icon-onscreenComment:before {
  content: ""
}

.lazada-addtocart:before {
  content: ""
}

.lazada-icon-reply:before {
  content: ""
}

.lazada-icon-comments:before {
  content: ""
}

.lazada-icon-addComment:before {
  content: ""
}

.lazada-ic-chanel-Category:before {
  content: ""
}

.lazada-lexlogo:before {
  content: ""
}

.lazada-icon-comments1:before {
  content: ""
}

.lazada-question-icon1:before {
  content: ""
}

.lazada-DigitalProduct:before {
  content: ""
}

.lazada-ic-lock:before {
  content: ""
}

.lazada-Rotate:before {
  content: ""
}

.lazada-play1:before {
  content: ""
}

.lazada-arrow:before {
  content: ""
}

.lazada-solid:before {
  content: ""
}

.lazada-outline:before {
  content: ""
}

.lazada-im-send:before {
  content: ""
}

.lazada-im-plus:before {
  content: ""
}

.lazada-spinner:before {
  content: ""
}

.lazada-icon-announcement:before {
  content: ""
}

.lazada-Comment-:before {
  content: ""
}

.lazada-ic_profile_info:before {
  content: ""
}

.lazada-fuzhi-copy:before {
  content: ""
}
